.btn-primary {
    -fx-background-color: linear-gradient(to bottom right, #001233, #014f86);
    -fx-background-radius: 5,5,4;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.btn-primary:hover {
    -fx-background-color: linear-gradient(to bottom right, #014f86, #001233);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-text-fill: #F5F5F5;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);

}

#loginPane{
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

#dashBoardPane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.1), 60, 0.0, 0, 3);
}

#menuPannel{
    -fx-background-color: linear-gradient(to bottom right, #A0E9FF, #caf0f8);
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-effect: dropshadow(one-pass-box, rgba(202, 240, 248, 0.6), 60, 0.0, 0, 3);
}

#headerPane{
    -fx-background-color: linear-gradient(to bottom right, #001233, #014f86);
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-effect: dropshadow(one-pass-box, rgba(202, 240, 248, 0.6), 60, 0.0, 0, 3);
}


